@font-face {
    font-family:"ASBarajas";
    src: url("fonts/Barajas_pictogramas_v20-VF.ttf");
    font-weight: 40 200;
}

@keyframes wacky  {
  0%   {font-variation-settings: "wght" 40}
  50%   {font-variation-settings: "wght" 200}
  100% {font-variation-settings: "wght" 40}
    }

body{
  background-color: black; 
}

h1{
  font-family: ASBarajas;
  font-weight: 40;
  color: yellow;
}
  
p{
  font-family: ASBarajas;
  font-weight: 40;
  color: yellow;
}

h1:hover{
  font-family: ASBarajas;
  font-weight: 40;
  color: yellow;
  animation:  wacky infinite;
  animation-duration: 5s;
  animation-timing-function: ease;
}

table {
  border-spacing: 10px;
  width: 100%;
}


td.s {
  text-align: center;
  font-size: 90px;
  font-family: ASBarajas;
  font-variation-settings: "wght" 40;
  transition: font-variation-settings 0.3s ease;
  border-radius: 10px;
  background-color: yellow;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px
}

td.code{
  text-align:center;
  font-size: 15px;
  font-family: ASBarajas;
  border-radius: 5px;
  background-color: grey;
  padding-right: 20px;
  font-weight: 100;
}


td.s:hover {
  font-variation-settings: "wght" 200;
  animation:  wacky infinite;
  animation-duration: 2s;
  animation-timing-function: ease;
}

th.s{
  text-align: right;
  font-size: 30px;
  font-family: ASBarajas;
  font-variation-settings: "wght" 60;
  transition: font-variation-settings 0.3s ease;
  border-radius: 10px;
  background-color: yellow;
  padding-right: 20px;
}

th.code{
  text-align: right;
  font-size: 15px;
  font-family: ASBarajas;
  border-radius: 5px;
  background-color: grey;
  padding-right: 20px;
  font-weight: 100;
}

.destacado{
  padding:10px;
}
